<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>饭团记录</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'ft/style.css' %}" />
</head>
<body>
  <div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'ft:index' %}">饭团</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'ft:index' %}">最近记录</a></li>
        <li><a href="{% url 'ft:show_all' %}">全部记录</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">历史记录 <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for d in date_list %}
            <li><a href="{% url 'ft:start_date' d%}">{{ d }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'admin:index' %}">管理</a></li>
      </ul>
    </div>
  </nav>
<table class="table table-striped table-bordered table-hover table-condensed">
<tbody>
  <thead>
  <tr>
    {% for t in table_head.list %}
    <th>{{ t }}</th>
    {% endfor %}
    {% for p in table_head.people %}
    <th><a href="{% url 'ft:people' p.id %}">{{ p.name }}</a></th>
    {% endfor %}
  </tr>
  </thead>
  <tbody>
  <tr>
    {% for t in stat_sum %}
    <td>{{ t }}</td>
    {% endfor %}
  </tr>
  <tr class="tre">
    {% for t in stat_times %}
    <td>{{ t }}</td>
    {% endfor %}
  </tr>
  <tr>
    {% for t in stat_avg %}
    <td>{{ t }}</td>
    {% endfor %}
  </tr>
  </tbody>
</table>
<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
  <tr>
    {% for t in table_head.list %}
    <th>{{ t }}</th>
    {% endfor %}
    {% for p in table_head.people %}
    <th><a href="{% url 'ft:people' p.id %}">{{ p.name }}</a></th>
    {% endfor %}
  </tr>
  </thead>
  <tbody>
  {% for this_line in table_lines reversed %}
  <tr>
    <td>{{ this_line.date }}</td>
    <td><a href="{% url 'ft:restaurant' this_line.restaurant_id %}">{{ this_line.restaurant }}</a></td>
    <td>{{ this_line.charge }}</td>
    <td>{{ this_line.people_count }}</td>
    <td>{{ this_line.per_charge }}</td>
    <td><a href="{% url 'ft:pay_people' this_line.pay_people_id %}">{{ this_line.pay_people }}</a></td>
    <td>{{ this_line.fantuan_balance }}</td>
    {% for p in this_line.peoples %}
    <td class="balance {% if p.type %}{{ p.type }}{% endif %}">{{ p.cost }}<br />{{ p.balance }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  <tr>
    {% for t in table_head.list %}
    <th>{{ t }}</th>
    {% endfor %}
    {% for p in table_head.people %}
    <th><a href="{% url 'ft:people' p.id %}">{{ p.name }}</a></th>
    {% endfor %}
  </tr>
</tbody>
</table>
<ol class="breadcrumb">
  {% for d in date_list %}
  <li><a href="{% url 'ft:start_date' d%}">{{ d|slice:"2:4" }}.{{ d|slice:"4:" }}</a></li>
  {% endfor %}
</ol>
  </div>
  <div id="footer">
    <div class="container">
      <p>fantuan on <a href="https://github.com/whusnoopy/fantuan" targer="_blank">github</a></p>
    </div>
  </div>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.11.0.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
