html,
body {
    height: 100%
}

.navbar-group {
    padding-left: 8px;
    padding-right: 4px;
    float: left;
}
.navbar-group span {
    top: 3px;
    margin-right: 4px;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 70px 0 60px;
}

td.balance {
    text-align:right;
}

#footer {
    height: 60px;
    border-top: #ccc solid 1px;
    background-color: #f5f5f5;
    color: #777;
}